<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.compusshare.weshare.repository.mapper.TransactionRecordMapper">
  <resultMap id="BaseResultMap" type="cn.compusshare.weshare.repository.entity.TransactionRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, seller_id, goods_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transaction_record
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectGoodsId"  resultType="java.lang.Integer">
    select goods_id from transaction_record where seller_id = #{userID,jdbcType=VARCHAR}
    order by goods_id desc
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transaction_record
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByUserIDAndGoodsID" >
    delete from transaction_record
    where seller_id=#{userID} and goods_id=#{goodsID}
  </delete>

  <delete id="deleteByGoodsID" >
    delete from transaction_record
    where goods_id=#{goodsID}
  </delete>


  <insert id="insert" parameterType="cn.compusshare.weshare.repository.entity.TransactionRecord">
    insert into transaction_record (id, seller_id, goods_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{sellerId,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.compusshare.weshare.repository.entity.TransactionRecord">
    insert into transaction_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.compusshare.weshare.repository.entity.TransactionRecord">
    update transaction_record
    <set>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.compusshare.weshare.repository.entity.TransactionRecord">
    update transaction_record
    set seller_id = #{sellerId,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>